<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Insert_EMPLOYEE</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="deptno">deptno</label>
            <select name="deptno" id="deptno">
                {% for i in topic %}
                <option value="{{i}}">{{i.deptno}}</option>
                {% endfor %}

            </select>
            <br><br>
            <label for="empno">employeeno:</label>
            <input type="number" name="empno" id="empno">
            <br><br>
            <label for="ename">employeename:</label>
            <input type="text" name="ename" id="ename">
            <br><br>
            <label for="job">job</label>
            <input type="text" name="job" id="job">
            <br><br>
            <label for="mgr">mgr</label>
            <input type="number" name="mgr" id="mgr">
            <br><br>
            <label for="hiredate">hiredate</label>
            <input type="date" name="hiredate" id="hiredate">
            <br><br>
            <label for="sal">salary</label>
            <input type="number" name="sal" id="sal">
            <br><br>
            <label for="comm">commission</label>
            <input type="number" name="comm" id="comm">
            <br><br>
            <input type="submit" value="SUBMIT">
        </form>
    </center>
</body>
</html>