<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert_DEPARMENT</title>
</head>
<body>
    <center>
        <h1>Insert_DEPARTMENT</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="deptno">Departmentno: </label>
            <input type="number" name="deptno" id="deptno">
            <br><br>

            <label for="dname">Departmentname: </label>
            <input type="text" name="dname" id="dname">
            <br><br>

            <label for="loc">location: </label>
            <input type="text" name="loc" id="loc">
            <br><br>

            <input type="submit" value="Insert_DEPARMENT">
        </form>
    </center>
</body>
</html>